.title {
	color: #ffdefc;
}

.textarea {
	@apply px-4 py-2;
	border: 1px solid #743b6c;
	border-radius: 6px;
	background-color: #130a1263;
	font-size: 18px;
	color: #ffcffa;
	height: 200px;
	resize: none;

	&::placeholder {
		color: #a87ba3;
	}
}