* {
	::-webkit-scrollbar {
		background-color: #95558c;
		box-shadow: 0 0 5px #f252da;
		width: 5px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #d265c4;
	}
}

.wrapper {
	@apply flex flex-col;
	min-height: 100vh;
	background: rgb(1, 0, 1);
	background: linear-gradient(
		180deg,
		rgba(1, 0, 1, 1) 0%,
		rgba(47, 19, 54, 1) 85%,
		rgba(1, 0, 1, 1) 100%
	);
}
