.card {
	@apply flex flex-col items-center border w-[400px] h-[570px] px-4 pb-4 pt-2;

	color: #e4a6db;
	background-color: #923d8520;
	box-shadow: 0 0 5px #f252da;

	border: 1px solid #c672b9;
	border-radius: 10px;
}

.card__top__content {
	@apply flex gap-4 items-center justify-center py-2;
	color: #ffc8f7;

	>p {
		@apply text-[20px];
	}
}

.body {
	@apply flex flex-col px-2 grow w-full;
}

.description {
	@apply text-center py-4;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: auto
}

.button {
	@apply text-[18px] px-12 py-2 duration-300;
	color: #00FFC6;
	background-color: #1c5f515f;
	border: 1px solid #31ac915f;
	border-radius: 5px;

	&:hover {
		background-color: #267a685f;
	}
}