.input {
	@apply text-[20px] bg-[#000] text-[#fff] px-2 py-[2px] rounded;
	width: 400px;
	box-shadow: 0 0 5px rgba(177, 52, 152, 0.801);

	color: rgb(233, 206, 233);

	&::placeholder {
		color: rgb(134, 105, 134);
	}
}
