.wrapper {
	@apply flex gap-6 items-center justify-center w-full py-1;
	transition: background-color .5s;
}

.arrow {
	opacity: .5;
	padding: 4px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #17091563;
	transition: opacity .3s;

	animation: opacity .3s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

.arrow__up {
	@extend .arrow;
	transform: rotate(-90deg)
}

.arrow__down {
	@extend .arrow;
	transform: rotate(90deg)
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: .5;
	}
}