.container__menu {
	max-width: 1900px;
	overflow: auto;
}

.top__menu {
	@apply flex;

	>li {
		@apply px-4 py-1;
		white-space: nowrap;
		width: 200px;
		font-weight: 600;
		font-size: 18px;
		background-color: #0c0e14;
		border-left: 1px solid #1a202c;

		&:nth-child(1),
		&:nth-child(2) {
			width: 70px;
			text-align: center
		}
	}
}

.menu {
	@apply flex;
	transition: background-color .3s;

	>li {
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		border: 1px solid #1a202c;
		transition: background-color .3s;

		&:first-child {
			text-align: center;
		}
	}
}

.menu__without__inputs {
	@apply flex;
	transition: background-color .3s;

	&:hover {
		background-color: rgba(50, 115, 181, 0.608);
	}

	>li,
	>a {
		@apply relative flex items-center px-2 py-2;
		border: 1px solid #1a202c;
		transition: background-color .3s;
		cursor: pointer;
		white-space: nowrap;

		&:first-child,
		&:nth-child(2) {
			@apply justify-center;
		}
	}
}

.checkbox {
	cursor: pointer;
}


.not_input {
	padding: 8px !important;

	&:hover {
		background-color: rgba(50, 115, 181, 0.608);
	}
}

.center {
	text-align: center;
}

.input {
	background-color: transparent;
}

.special {
	@apply flex items-center p-2;

	>p {
		@apply py-[2px] text-center;

		&:first-child {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			min-width: 25px;
			max-width: 40px;
			overflow: hidden;
			text-overflow: ellipsis;

		}

		&:nth-child(2) {
			// background-color: #475264;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			min-width: 80px;
			max-width: 100%;
		}
	}
}