.wrapper {
	margin-bottom: 10px;
	width: 1000px;
	margin-top: 50px;
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(2, auto);
}

.form {
	@apply flex flex-col gap-8 p-4;
	width: 350px;
	background-color: #1e2332a4;
	border-radius: 6px;
}

.icon__button {
	@apply px-6 py-[2px];
	cursor: pointer;
	border-radius: 3px;
	background-color: #475264;
}

.icon {
	// border: 1px solid #4f5d87a4;
	object-fit: cover;
	border-radius: 4px;
	width: 70px;
	height: 70px;
	cursor: pointer;
	transition: box-shadow .3s;


	&:hover {
		box-shadow: 0 0 5px rgb(157, 157, 157);
		;
	}
}

.icon__preview {
	min-width: 34px;
	min-height: 40px;
}

.input {
	@apply px-2 py-[2px];
	width: 100%;
	font-size: 18px;
	background-color: #0c0e14;
}

.textarea {
	@apply px-2 py-[2px];
	width: 100%;
	font-size: 16px;
	background-color: #0c0e14;
	resize: none;
}

.wrapper__icon__add {
	@apply flex items-center gap-2 cursor-pointer p-1;
	border-radius: 6px;
	transition: background-color .3s;

	&:hover {
		background: #2e3744;
	}
}

.icon__add {
	@apply p-2;
	border-radius: 6px;
	background-color: #495467;
}

.menu__list {
	@apply flex flex-col gap-2 mt-4;

	>li {
		cursor: pointer;
		border-radius: 6px;

		&:hover {
			background-color: #232a34;
		}
	}
}


// Превью карточки

.card {
	@apply flex flex-col items-center border w-[400px] h-[570px] px-4 pb-4 pt-2;
	color: #ffc8f7;
	border: 1px solid #c672b9;
	border-radius: 10px;
	box-shadow: 0 0 5px #f252da;
	background-color: #321535;
}

.card__top__content {
	@apply flex gap-4 items-center py-2;
	color: #ffc8f7;

	>p {
		@apply text-[20px];
	}
}

.body {
	@apply flex flex-col grow w-full;
}

.description {
	@apply text-center py-4;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: auto
}

.button {
	@apply py-1;
	border-radius: 6px;
	background-color: #495467;
	transition: background-color .3s;

	&:hover {
		background-color: #2b323d;
	}
}


.button__preview {
	@apply text-[18px] px-12 py-2 duration-300;
	color: #00FFC6;
	background-color: #1c5f515f;
	border: 1px solid #31ac915f;
	border-radius: 5px;

	&:hover {
		background-color: #267a685f;
	}
}

.arrow {
	cursor: pointer;
	transform: rotate(180deg);

	background-color: #2d354ca4;
	border-radius: 10px;
	width: 350px;
	height: 40px;
	transition: background-color .3s;

	&:hover {
		background-color: #49546794;
	}
}

.arrow__right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	cursor: pointer;
	background-color: #321535;
	border: 1px solid #ae5da27e;
	border-radius: 10px;
	width: 400px;
	height: 40px;
	transition: background-color .3s, border-color .3s;

	&:hover {
		background-color: #57245d;
		border-color: #cc6dbe7e;
	}
}