.wrapper {
	@apply flex justify-center;
}

.container {
	@apply px-6 py-4 rounded-lg;
	background-color: #16071443;
	box-shadow: 0 0 8px #c36eb7c5;
}

.top__title {
	text-align: center;
	color: #ffd2f8;
	font-size: 25px;
}

.form__content {
	@apply mt-8 grow;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 40px;
}

.avatar {
	border: 2px solid #b960ac;
	cursor: pointer;
	border-radius: 6px;
	width: 200px;
	height: 250px;
	transition: border .3s, box-shadow .3s;

	&:hover {
		border-color: #47c2a7;
		box-shadow: 0 0 20px #47c2a7;
	}
}

.avatar__text {
	@apply text-center cursor-pointer;
	color: #ffe0fa;
	transition: color .3s;

	&:hover {
		color: #5debcc;
	}
}

.input {
	background-color: transparent;
}

.phone__text {
	color: #ffc2f7;
}

.container__verified {
	font-size: 18px;
}

.is__verified {
	@apply flex items-center gap-2;
	color: #5ee6c8;
}

.is__not_verified {
	@apply flex items-center gap-2;
	color: #c3d257;
}

.button {
	@apply self-end py-1;
	width: 120px;
	font-size: 18px;
	color: #00FFC6;
	background-color: #1c5f515f;
	border: 1px solid #31ac915f;
	border-radius: 5px;
	transition: background-color .3s;

	&:hover {
		background-color: #267a685f;
	}
}

.button__confirm {
	@apply self-end py-1 px-4;
	font-size: 18px;
	color: #ffcdf8;
	background-color: #43203e35;
	border: 1px solid #9b5892c5;
	border-radius: 5px;
	transition: background-color .3s;

	&:hover {
		background-color: #833e7835;
	}
}