$avatarSize: 40px;

.container__avatar {
	@apply flex items-center gap-8 border rounded-md px-6 py-[2px] cursor-pointer;
	min-width: 170px;
	background-color: #a9379c29;
	border-color: #c36eb7c5;
	transition: background-color 0.3s, box-shadow 0.3s;

	&:hover {
		box-shadow: 0 0 8px #c36eb7c5;
		background-color: #c93eb629;
	}
}

.title {
	color: #ffdffa;
	width: 70px;
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.avatar {
	object-fit: cover;
	border-radius: 100%;
	width: $avatarSize;
	height: $avatarSize;
}
