.wrapper {
	@apply flex justify-center items-center;
	margin-top: 200px;
}

.button {
	@apply py-1;
	width: 100%;
	font-size: 18px;
	color: #edf2f7;
	border: 1px solid #293245;
	border-radius: 6px;
	transition: background-color .3s, border-color .3s;

	&:hover {
		background-color: #1c212e;
		border-color: transparent;
	}
}