.logo {
	@apply py-[35px] font-semibold uppercase;
	cursor: pointer;
	font-size: 45px;
	letter-spacing: 3px;
}

.menu {
	@apply flex items-center gap-[20px];
	font-family: Sofia Sans;

	> input[type='radio'] {
		@apply hidden;

		&:checked + label {
			@apply text-light-green px-[15px] py-1;
			background-color: #2fd1b04e;
		}
	}

	> label {
		@apply flex uppercase;
		font-size: 17px;
		letter-spacing: 0.5px;
		border: 1px solid transparent;
		border-radius: 6px;
		cursor: pointer;

		-webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s,
			padding 0.3s;

		transition: background-color 0.3s, border-color 0.3s, color 0.3s,
			padding 0.3s;

		will-change: padding;
	}
}
