.menu {
	@apply absolute right-0 rounded-md;
	box-shadow: 0 1px 8px #c36eb7c5;
	width: 192px;

	>li {
		@apply py-2 px-4 cursor-pointer;
		border: 1px solid #ad4ca0a5;
		border-top: transparent;
		transition: background-color .3s, color .3s;
		height: 100%;

		background-color: #150212;

		color: #ffdffa;

		&:last-child {
			@apply rounded-b-md;
		}

		&:hover {

			color: #ffdffa;
			background-color: #32102f;
		}

	}
}