.menu {
	@apply absolute right-0 rounded-md;
	width: 187px;

	>li {
		@apply py-2 px-4 cursor-pointer duration-300;
		border: 1px solid #ad4ca0a5;
		border-top: transparent;
		// background-color: #8c2e7f30;

		background-color: transparent;

		color: #ffdffa;

		&:last-child {
			@apply rounded-b-md;
		}

		&:hover {

			color: #ffdffa;
			background-color: #a9379c29;
			// background-color: #00ffc823;
			// color: rgb(171, 227, 226);
			// border-color: #229a80c9;
		}

	}
}