.wrapper {
	@apply grid grid-cols-2 px-[175px] grow;

	animation: opacity 1s normal;
}

.text__container {
	@apply mb-[40px] duration-300;
	height: 334px;
}

.title {
	width: 677px;
	font-size: 65px;
	letter-spacing: 2.6px;
	margin-bottom: 25px;
}

.body {
	width: 548px;
	font-size: 25px;
	letter-spacing: 0.5px;
}

.button {
	@apply border border-transparent bg-light-green text-dark-blue px-[75px] py-[15px] font-semibold uppercase rounded-md;
	font-family: Roboto;
	font-size: 20px;
	letter-spacing: 0.5px;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}