.wrapper {
	@apply flex justify-center items-center gap-[70px] pt-[150px];
}

.info__wait {
	@apply py-2;
	text-align: center;
	color: rgb(255, 210, 248);
	border: 1px solid rgba(220, 121, 205, 0.621);
	border-radius: 6px;
	background-color: rgba(59, 32, 55, 0.238);
	box-shadow: 0 0 5px rgb(157, 49, 141);
}
